.watermark {
  display: none !important;
}

button:hover {
  background-color: hsl(var(--primary)) !important;
  color: hsl(var(--primary-foreground)) !important;
}

button:has(a[href*="talltreehealth.ca/contact-us"]):hover {
  /* matches --accent */
  background-color: hsl(var(--accent)) !important;

  /* matches --accent-foreground */
  color: hsl(var(--accent-foreground)) !important;
}

#chainlit-copilot #new-chat-dialog {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
}

